<html lang="en">
<head>
  <title>PokemonAPI data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
{% load bootstrap4 %}

<div class="jumbotron text-center">
  <h1>Arkadiusz Mazur - task for SuperDev</h1>
  <p>
      Due to problems with connection to SWAPI I have been using
      another API - pokeapi.co
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Load</h3>
      <a href="/load">Load data from Pokemon API and add to csv file</a>
    </div>
    <div class="col-sm-4">
      <h3>Show</h3>
      <a href="/show">Show place where received data are accessible</a>
    </div>
  </div>

  <hr />
  {% block content %}{% endblock content %}

</div>


